.Dashboard {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 75px;
}

.LoadingDashboard {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-top: 75px;
}
.LoadingDashboard > img{
    width: 50px;
    border-radius: 50%;
}

.NotSignedInDashboard {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    height: 100%;
}

.NotSignedInDashboard > .Notes-Head {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    cursor: default;
    background-color: #484848;
    margin-top: 75px;
    padding: 10px;
    border-radius: 20px;
    animation: 
      fade-in 1s steps(40, end);
    animation-fill-mode: forwards;
}

.NotSignedInDashboard > .Notes-Head > .Notes-Head-Text {
    font-weight: 500;
    margin-left: 10px;
    margin-right: 5px;
    font-size: xx-large;
    letter-spacing: 0.1em;
}

.Google-Btn {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 1px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 4px #212121;
}

.Google-Btn > .Google-Icon {
    border-radius: 2px;
    margin: 11px;
    width: 24px;
    height: 24px;
}

.Google-Btn > .Btn-Text {
    font-weight: 649;
    color: #373737;
    font-size: medium;
    padding-left: 11px;
    padding-right: 11px;
}

.Typewriter > div {
    font-size: x-large;
    visibility: hidden;
    overflow: hidden;
    border-right: .11em solid #ffce44; 
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .1em;
}

.Typewriter div:nth-child(1){
    animation: 
      type1 1.5s steps(40, end);
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.Typewriter div:nth-child(2){
    animation: 
      type2 1.5s steps(40, end),
      blink-cursor .75s step-end infinite;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.Google-Btn:hover {
    box-shadow: 0 0 4px #e8eaed;
}

@keyframes blink-cursor {
    from, to { border-color: transparent }
    50% { border-color: #ffce44; }
}

@keyframes type1 {
    from { 
        width: 0 
    } to { 
        width: 100% 
    }
    0% {
      width: 0;
      visibility: visible;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #ffce44;
    }
    100% {
      opacity: 1;
      border: none;
      visibility: visible;
    }
}

@keyframes type2 {
    from { 
        width: 0 
    } to { 
        width: 100% 
    }
    0% {
      width: 0;
      visibility: visible;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #ffce44;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
}

@keyframes fade-in {
    from { 
        opacity: 0;
    } to { 
        opacity: 1;
    }
}