.Header{
    position: fixed;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px #484848 solid;
    background-color: #202124;
    box-shadow:  1px 2px 2px #353232, 0 1px 1px 1px #121212;
    z-index: 1;
}

.UserImage {
    width: 30px;
    margin: 10px;
    border-radius: 50%;
}

.Heading {
    font-size: x-large;
    margin-left: 12px;
    color: #fff;
    cursor: default;
}

.SignIn-Button {
    cursor: pointer;
    font-size: medium;
    margin-right: 12px;
    padding: 8px;
    border-radius: 12px;
    color: #e8eaed;
    /* border: 1px solid #484848; */
}

.Dropdown {
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
    justify-self: flex-start;
}

.DropdownContent {
    display: none;
    position: fixed;
    margin-top: 45px;
    background-color: #202124;
    align-self: flex-end;
    width: auto;
    border-style: solid 1px #484848;
    border-radius: 10px;
    padding: 3px;
    box-shadow:  0px 0px 0px #121212, 0 2px 5px 2px #121212;
    margin-right: 5px;
}

.DropdownContent > a{
    padding: 10px;
    font-size: medium;
    text-decoration: none;
    color: darkgoldenrod;
    border-radius: 10px;
}

.DropdownContent > .Username {
    padding: 5px;
}

.Dropdown:hover .DropdownContent{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.Dropdown:hover .UserImage{
    border: solid 2px;
}

.DropdownContent > a:hover{
    background-color: #484848;
}

.SignIn-Button:hover {
    background-color: #484848;
}