.Header{
    position: fixed;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-bottom: 1px #484848 solid;
    background-color: #202124;
}

img {
    width: 30px;
    margin: 10px;
    border-radius: 50%;
}

img:hover{
    border-style: inset;
}

.Heading {
    font-size: x-large;
    margin-left: 12px;
}