.Header{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
    width: 100%;
    height: 55px;
    border-bottom: 1px #484848 solid;
}

img {
    height: 60%;
    margin-right: 11px;
    border-radius: 50%;
}

img:hover{
    border-style: inset;
}

h2 {
    color: white;
}